<div class="center jumbotron">
  <h1>Welcome to Twithub</h1>

  <h2>
    Stop Googling and start coding. Find proven tutorials through user curated collections with reviews.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>